<html>
<head>
  <title>Quintype App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/style.css" type="text/css" />
</head>
<body>
  <div id="container">
    <div class="messages">
      <div class="total-point">Total points: <span class="total-value"></span></div>
      <div class="diamond-count">Find Diamonds: <span class="total-diamond"></span>/8</div>
    </div>
    <button class="reset">Reset</button>
    <div class="diamondsweeper-board">
      <div class="cell unknown"></div>
      <div class="cell unknown"></div>
      <div class="cell diamond unknown"></div>
      <div class="cell unknown"></div>
      <div class="cell unknown"></div>
      <div class="cell unknown"></div>
      <div class="cell unknown"></div>
      <div class="cell unknown"></div>
      <div class="cell unknown"></div>
      <div class="cell unknown"></div>
      <div class="cell unknown"></div>
      <div class="cell unknown"></div>
      <div class="cell unknown"></div>
      <div class="cell unknown"></div>
      <div class="cell diamond unknown"></div>
      <div class="cell unknown"></div>
      <div class="cell unknown"></div>
      <div class="cell unknown"></div>
      <div class="cell unknown"></div>
      <div class="cell unknown"></div>
      <div class="cell unknown"></div>
      <div class="cell unknown"></div>
      <div class="cell unknown"></div>
      <div class="cell unknown"></div>
      <div class="cell unknown"></div>
      <div class="cell unknown"></div>
      <div class="cell diamond unknown"></div>
      <div class="cell diamond unknown"></div>
      <div class="cell unknown"></div>
      <div class="cell unknown"></div>
      <div class="cell unknown"></div>
      <div class="cell unknown"></div>
      <div class="cell unknown"></div>
      <div class="cell unknown"></div>
      <div class="cell unknown"></div>
      <div class="cell unknown"></div>
      <div class="cell unknown"></div>
      <div class="cell unknown"></div>
      <div class="cell unknown"></div>
      <div class="cell unknown"></div>
      <div class="cell diamond unknown"></div>
      <div class="cell unknown"></div>
      <div class="cell unknown"></div>
      <div class="cell unknown"></div>
      <div class="cell diamond unknown"></div>
      <div class="cell unknown"></div>
      <div class="cell unknown"></div>
      <div class="cell unknown"></div>
      <div class="cell unknown"></div>
      <div class="cell unknown"></div>
      <div class="cell unknown"></div>
      <div class="cell diamond unknown"></div>
      <div class="cell unknown"></div>
      <div class="cell unknown"></div>
      <div class="cell unknown"></div>
      <div class="cell unknown"></div>
      <div class="cell unknown"></div>
      <div class="cell unknown"></div>
      <div class="cell unknown"></div>
      <div class="cell diamond unknown"></div>
      <div class="cell unknown"></div>
      <div class="cell unknown"></div>
      <div class="cell unknown"></div>
      <div class="cell unknown"></div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.4.0.min.js"
    integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/assets/app.js"></script>
  <script type="text/javascript">startApp(document.getElementById("container"));</script>
</body>

</html>